.card {
  background-color: hsl(227, 47%, 96%);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card.headline {
  align-items: center;
  margin-bottom: 25px;

  font-size: 12px;
}

.card header {
  width: 100%;
  display: flex;
}

.card.headline header {
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  border-top-width: 4px;
  border-top-style: solid;
  font-size: 12px;
  font-weight: 700;
}

.card.overview header {
  justify-content: space-between;
}

.card.overview .content {
  display: flex;
  justify-content: space-between;
}

.card.headline header * {
  margin: 0 4px;
}

.card.headline .big-number {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 4px;
}

.card.headline .stat-label {
  font-size: 12px;
  letter-spacing: 0.42em;
  text-transform: uppercase;
}

.card.headline footer {
  padding: 30px 0;
}

.card.headline footer .daily-follower-change {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.headline footer .daily-follower-change * {
  margin: 0 0.125em;
  font-weight: 700;
}

.card .up {
  color: hsl(163, 72%, 41%);
}

.card .down {
  color: hsl(356, 69%, 56%);
}
