.toggle-label {
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  margin-bottom: 15px;
}

.toggle-label input {
  display: none;
}

.sliding-groove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--toggle-bg);
  border-radius: 20px;
  transition: all 100ms;
}

.sliding-groove::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  top: 4px;
  left: 4px;
  transition: all 100ms;
}

/* input:checked + .sliding-groove {
  background: red;
} */

input:checked + .sliding-groove::after {
  transform: translateX(24px);
}
