.toggle-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.toggle-label p {
  transition: all 300ms;
}

.toggle-label input {
  display: none;
}

.sliding-groove {
  width: 48px;
  height: 24px;
  position: relative;
  background-image: var(--toggle-groove-gradient);
  background-color: var(--toggle-grove-color);
  /* background: var(--toggle-bg); */
  border-radius: 20px;
  transition: all 300ms;
}

.sliding-groove::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--toggle-button);
  top: 4px;
  left: 4px;
  transition: all 100ms;
}

input:checked + .sliding-groove::after {
  transform: translateX(24px);
}

.toggle-label:hover {
  cursor: pointer;
}

.toggle-label:hover {
  color: var(--impact-text-color);
}

.toggle-label:hover .sliding-groove {
  /* background: var(--toggle-hover-bg); */
}
