.facebook {
  --brand-color: hsl(208, 90%, 53%);
}

.twitter {
  --brand-color: hsl(203, 89%, 53%);
}

.youtube {
  --brand-color: hsl(348, 97%, 39%);
}

.instagram {
  --brand-color: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}
