.dashboard {
  --main-bg-color: white;
  --main-text-color: hsl(228, 12%, 44%);
  --impact-text-color: hsl(230, 17%, 14%);
  --card-color: hsl(227, 47%, 96%);
  --card-hover-color: hsl(232, 33%, 91%);
}

.dashboard {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  border-color: var(--main-text-color);
}

.impact-text {
  color: var(--impact-text-color);
}

.card {
  background-color: var(--card-color);
}

.card:hover {
  background-color: var(--card-hover-color);
}

.value-change.up {
  color: hsl(163, 72%, 41%);
}

.value-change.down {
  color: hsl(356, 69%, 56%);
}
