.heading {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

@media screen and (min-width: 600px) {
  .heading {
    border: none;
  }
}

.dashboard::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 33vh;
  top: 0;
  left: 0;
  background-color: var(--bg-pattern);
  border-radius: 0 0 20px 20px;
  transition: background-color 300ms;
  z-index: -2;
}

.rounded-corner {
  border-radius: 7px;
  overflow: hidden;
}

.card {
  transition: all 300ms;
}

.card:hover {
  cursor: pointer;
}

.card.headline {
  /* styles for the border stripe */
  position: relative;
  background-clip: padding-box;
  border-top: solid 4px transparent;
}

.card.headline::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 1px;
  bottom: 1px; /* avoid rounding errors making this show on the bottom */
  left: 1px;
  z-index: -1;
  margin-top: -4px;
  background: var(--brand-color);
}
